#paragraf {
    color: red;
}
#paragraf2 {
    color: red;
}
#para1 {
    color: red;
}
.colortext {
    color: red;
}
#para {
    color: red;
}
#head {
    color: red;
}
a:link {
    text-decoration: none;
}