#titlu_lista {
    text-align: center;
    font-style: italic
    
}
#btnAddItem {
    background-color: lightgreen;
    cursor: pointer;
}
#lista_items {
    text-align: center;
}
#ordonare_lista {
    text-align: center;
    
}
#tabel_items {
    text-align: right;
}